.contact-container {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 80px;
  overflow: hidden; 
  border-top: 1px solid var(--bg-color);
  border-bottom: 1px solid var(--bg-color);
  height: 700px;
  width: 100%;

  //mode white
  --primary-color:gray;
  --secondary-color: #000;
  --bg-color:#D3D3D3;
  --button-color: #E6E6FA;
  --h1-color:gray;
  --circle: #fff;
  --bg-circle: #000;
  --border-color:#DCDCDC;
  
  //mode black
  &.dark {
    --primary-color:#F8F8FF;
    --secondary-color:gray;
    --bg-color: #010712;
    --button-color: #818386;
    --h1-color: #FFFFFF;
    --circle: #000;
    --bg-circle: #FFFFFF;
    --border-color:#DCDCDC;
  }

    .left-col {
        width: 100%;
        background-position: right;
        background-size: cover;
        background-repeat: no-repeat;
        transform: scale(1.1);
        transition: .5s ease-in-out;
        width: 50%;

        .logo {
            width: 9rem;
            height: 70px;
          }
    }

    .left-col:hover {
      -webkit-transform: scale(1);
      transform: scale(1);
    }

    .right-col {
      width: 100%;
      letter-spacing: 0.1rem;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding: 15px 20px 25px 20px;
      width: 50%;

      .theme-switch-wrapper {
          display: flex;
          flex-direction: row-reverse;
          align-items: center;
          position: absolute;
          top: 22px;
          justify-content: space-between;

          .theme-switch {
              height: 35px;
              position: relative;
              width: 60px;
              
              input {
                  display:none;
              }

              .slider {
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: var(--bg-circle);
                border-radius: 34px;
                transition: background-color 0.4s;


              }
              .slider-icon {
                position: absolute;
                top: 60%;
                transform: translate(-50%, -50%);
                transition: 0.4s;
                color: var(--circle);
              }

              .moon {
                right: 50%;
              }
              .slider:before { // circle in the middle
                  background-color: var(--circle);
                  bottom: 0.25rem;
                  content: "";
                  width: 26px;
                  height: 26px;
                  left: 0.25rem;
                  position: absolute;
                  transition: .4s;
                  border-radius: 34px;
                  z-index: 0;
                  cursor: pointer;

              }
          
              input:checked + .slider:before {
                transform: translateX(26px);
              }

              input:checked + .slider .slider-icon {
                left: 100%;
                transform: translateX(-100%);
              }

              .slider.round {
                border-radius: 34px;
              } 
          }

         
          .description {
            color: var(--h1-color);
            // text-transform: uppercase;
            font-size:12px;
            // margin-right: 10px;
          }
      }
      .titles-contact{
        display: flex;
        flex-direction: column;
        width: 95%;

        h1 {
            color:var(--h1-color);
            text-transform: uppercase;
            font-size: 2.5rem;
            font-weight: 300;
            margin-bottom: 10px;
          }
          p {
            color: var(--secondary-color);
            font-size: 1rem;
            letter-spacing: 0.01rem;
            margin-bottom: 15px;
          }
      }
      form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 95%;


        label {
            color:  var(--secondary-color);
            text-transform: uppercase;
            font-size: 15px;
            display: flex;
            gap:7px
          }

          input, textarea, label {
            width: 80%;
          }  

          input:hover, textarea:hover, button:hover, label:hover {
            opacity: 0.5;
          }
          

          input, textarea {
            color: var(--primary-color);
            font-weight: 500;
            background-color: var(--bg-color);
            border: none;
            border-bottom: 1px solid var(--border-color);
            padding: 0.5rem 0;
            margin-bottom: 1.1rem;
            outline: none;
            opacity: 0.5;
          }
          
          textarea {
          }

          button {
            border: 1px solid var(--border-color);
            color: var( --secondary-color);
            border-radius: 20px;
            outline: none;
            cursor: pointer;
            font-size: 20px;
            box-shadow: 3px 4px 4px var(--border-color);
            padding: 10px;
            min-width: 200px;
          }

          button:active {
            opacity: 0.8;
          }
      }

      .mes-success{
        height: 480px;
        text-align: center;
        color:var(--h1-color);
        font-weight: bold;
        font-size: 25px;
        padding-top: 100px;
      }
    }
  }


  @media screen and (max-width: 860px) {
    .contact-container{
       .left-col {
        display: none;
       }
       .right-col {
        width: 100%;
        form {
          display: flex;
          flex-direction: column;
          input, textarea, label, button {
            width: 100%;
          }  
        }
      }
    }
  }