.background-page-header{
  height: 312px;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 15%;
  background-size: cover;
  width: 80%;
  transition:  0.1s ease-in-out; /* Smooth transition for the filter property */
}